:root{
  --slider-height:60vw;
  --half-slider-height: calc(var(--slider-height)/2);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
li{
  list-style: none;
}
.btn{
    background-color: #000000 ;
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 2rem;
}
.navbar .nav-item{
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
}
.nav-item{
  list-style-type: none;
}
.nav-item .nav-link{
  color:black;
  padding:0.5rem 0;
}
a{
  text-decoration: none;
  color: inherit;
}
p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 25px;
}
h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.card-title{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 20px;
}
.card-text{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

/* BANNER */

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.circular-slider {
  position: relative;
  width: var(--slider-height);
  height: var(--slider-height);
  text-align: center;
  top: 30vh;
}
.banners{
  overflow: hidden;
}

.banners .wrapper{
position: absolute;
width: 100%;
height: 100%;
transform: rotateZ(-360deg);
transition: 1s ease-in-out;
z-index: 200;
}
.slides{
  position: absolute;
  left: 0;
  cursor: pointer;
  transform: rotateZ(calc(360deg / 5 * var(--img-no))) translateY(var(--half-slider-height));
  transform-origin: var(--half-slider-height);
  width: 15vw;
}
.slides img{
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  transform: rotateZ(calc(180deg / - 5 * var(--img-no))) scale(var(--scale, .8));
  transition: .4s ease;
  user-select: none;
}
.slides img.active{
  --scale: 1;
  
}
.slides img:hover{
  width: 80%;
}
.character-name{
  position: absolute;
  transform: translateY(-80%, -450%);
  font-size: 6rem;
  color: rgb(183, 178, 178);
  top: -20%;
  width: 100vw;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.7s ease-in-out, opacity 0.5s;
}
.character-name.active{
  transform: translate(0%, -450%);
  opacity: 1;
  transition: 0.5s ease-in-out, opacity 0.1s;
}

.descriptions{
  position: absolute;
  bottom: 50%;
  width: 50%;
  height: var(--half-slider-height);
  z-index: 100;
}
.descriptions .descriptions_item{
  width: 100%;
  height: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.7s ease-in-out 1s, height 0.9s 1.1s;
}
.descriptions .descriptions_item.active{
  opacity: 1;
  height: 100%;
}

.banner{

  height: 50vh;
  background-color: #ffffff;
}
.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: auto;
    height: auto;
  }

  .products-slider .card .card-text{
    color: #F7B79D;
  }

  .our-collection .container-fluid{
    background-color: #F7B79D;
    height: 40vh;
  }
  .our-collection .card{
    margin-top: -40%;
  }

  footer{
    background-color: #F9F9F9;
  }

  footer .years{
    color: #F7B79D;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 25px;
  }

  footer .foot-desc{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
  }
  footer .footer-copyright p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
  }


  @media screen and (max-width:500px) {
    .circular-slider{
      top: 12vh;
    }
    .character-name{
      font-size: 2rem !important;
    }
    .descriptions_item h1{
      font-size: 1.5rem;
      width: 100vw;
      margin-top: 2rem;
    }
    .descriptions_item p{
      font-size: 8px;
      width: 100vw;
      margin-bottom:0.5rem
    }
    .descriptions_item .btn{
      padding: 10px 15px;
      width: 50vw;
    }
  }

  @media screen and (max-width: 992px){
    .keep-in-touch{
      text-align: center;
    }
    .navbar-brand img{
      width: 200px;
    }
    .navbar-toggler{
      border: 0;
    }
    .navbar-toggler:focus{
      box-shadow: 0 0 0 0;
    }
    .circular-slider{
      top: 12vh;
    }
    .character-name{
      font-size: 3rem;
    }
    p{
      font-size: 12px;
    }
    a{
      text-decoration: underline;
      color: inherit;
    }
    .our-collection .container-fluid{
      background-color: #F7B79D;
      height: 20vh;
    }
    .our-collection .heads{
      padding: 0 !important;
    }
    .card-body{
      padding: 0.5rem 0;
    }
    .card-title{

      font-size: 10px;
    }
    .card-text{
      font-size: 8px;
    }
    .foot-desc{
      font-size: 12px !important;
    }
    footer ul li{
      font-size: 12px;
    }
    .footer-copyright p{
      font-size: 12px !important;
    }

  }

  